<!-- ZADANIE 1 Form - Control - Name -->

<form [formGroup]="formName" (ngSubmit)="onFormNameSubmitted(formName)">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput type="text" placeholder="Name" formControlName="name" required>
            <mat-error *ngIf="formName.get('name')!.invalid">name is invalid</mat-error>
        </mat-form-field>
    </div>
    <div>
        <button type="submit" mat-raised-button [disabled]="!formName.valid" color="primary">Submit</button>
    </div>
    <p> {{formName.valueChanges | async | json}}</p>
    <p>{{formName.value.name}}</p>
</form>



<!-- ZADANIE 2 Form - Control - AGE -->

<form [formGroup]="age" (ngSubmit)="onAgeSubmitted(age)">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input matInput type="number" placeholder="Age" formControlName="age" required>
            <mat-error *ngIf="age.get('age')!.invalid">age is
                invalid</mat-error>
        </mat-form-field>
    </div>
    <div>
        <button type="submit" mat-raised-button color="primary" [disabled]="!age.valid">Submit</button>
    </div>
    {{age.valueChanges | async | json}}
</form>



<!-- ZADANIE 3 Form - Control - EMAIL -->

<form [formGroup]="emailForm" (ngSubmit)="onEmailFormSubmitted(emailForm)">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput type="text" placeholder="Email" formControlName="email" required>
            <mat-error *ngIf="emailForm.get('email')!.invalid">email is invalid</mat-error>
        </mat-form-field>
    </div>
    <div>
        <button type="submit" mat-raised-button color="primary" [disabled]="!emailForm.valid">Submit</button>
    </div>

    {{emailForm.valueChanges | async | json}}
</form>

<!-- ZADANIE 4 Form - Control - Comment -->

<form [formGroup]="commentForm" (ngSubmit)="onCommentFormSubmitted(commentForm)">
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Comment</mat-label>
            <textarea
            matInput type="text"
            placeholder="Comment" 
            formControlName="comment" 
            required>
        </textarea>
                <mat-error *ngIf="commentForm.get('comment')!.invalid">comment is invalid! You needs to have min. of 4 words</mat-error>
            </mat-form-field>
        </div>
</form>